body{
    background-color: #171717;
    color: green;
}

.upload_preview{
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    width: fit-content;
    padding: 10px;

    .preview_image{
        position: relative;
        max-width: 400px;
        height: auto;
        margin: 10px;
    }

    .preview_common{
        position: relative;
        min-width: 200px;
        height: fit-content;
        margin: 10px;
        background-color: white;
        color: black;
        text-align: center;
        font-size: larger;
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: center;
    }

    .preview_state{
        position: relative;
        min-width: 200px;
        max-width: max(400px, 100%);
        min-height: 200px;
        max-height: 400px;
        overflow: auto;
        margin: 10px;
        background-color: white;
        color: black;
        text-align: center;
        font-size: larger;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: start;
        align-items: start;
    }
}

.upload_container label{
    cursor: pointer;
}

.upload_container.disabled label{
    cursor: not-allowed;
}

.upload_state_block{
    position: relative;
    width: 10px;
    height: 10px;
    margin-left: 5px;
    margin-top: 5px;
    background-color: #858585;
    transition: all 0.5s;
}

.upload_state_block.uploading{
    background-color: yellow;
}

.upload_state_block.error{
    background-color: red;
}

.upload_state_block.ok{
    background-color: green;
}

.uploaded{
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.file_item{
    display: flex;
    flex-wrap: nowrap;
    width: fit-content;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    border: 1px solid grey;
    padding: 3px;
    margin-top: -1px;
    margin-left: -1px;
}

.file_item .filename{
    width: fit-content;
    height: fit-content;
    margin-right: 10px;
    text-decoration: none;
    color: green;
}

.file_item .delete_button{
    padding: 3px 5px 3px 5px;
    border-radius: 3px;
    transition: all 0.5s;
}

.file_item .delete_button:hover{
    cursor: pointer;
    background-color: rgb(255, 57, 57);
    color: white;
}